h1{
    color:rgb(8, 9, 21);
    text-align: center;
}
h3{
    color:rgb(166, 0, 255);
    text-align: left;
}

#address_subtitle{
    color:blue;
    text-align: center;
}
#profile_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
   
}
label{
    display:inline-block;
    width:200px;
    margin-left:10px;
    text-align:left;
    }
    
   
    
    fieldset{
    border:none;
    width:500px;
    margin:0px auto;
    }
    
    .center
{
 text-align: center;
 list-style-position: inside;
}
ol.center li
{
 text-align: left;
 margin-left: 45%;
}